html {
  scroll-behavior: smooth;
}


.TeamHover {
    background-color: white;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;

    .TeamHoverData {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        background-color: white;
        z-index: 20;
        opacity: 0;
        visibility: hidden;
        border-radius: 5px;
    }

    &:hover {
        .TeamHoverData {
            opacity: 1;
            visibility: visible;
            background-color: white;
            box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
        }
    }
}

.Servicehover {
    position: relative;
    cursor: pointer;

    .ServicehoverData {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        background-color: white;
        z-index: 20;
        opacity: 0;
        visibility: hidden;

        border-radius: 5px;

        ul {
            transform: translateY(20px);
            transition: all 0.3s ease;
        }
    }

    &:hover .ServicehoverData {
        opacity: 1;
        visibility: visible;

    }

    &:hover {
        ul {
            transform: translateY(0);
        }
    }
}

.SWISS-ARMY {
    position: relative;
    z-index: 25;
    padding: 35px;
    border-radius: 6px;
    background-color: #CD2122;

    &::before {
        position: absolute;
        content: '';
        background-color: #CD2122;
        top: -7px;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        transform: skewY(1.5deg);
        border-radius: 6px;
        transform-origin: right top;
    }

    &::after {
        position: absolute;
        content: '';
        background-color: rgba(0, 0, 0, 0.2);
        width: 90%;
        height: 30%;
        display: block;
        border-radius: 4px;
        transform: skewY(-2deg);
        right: 5%;
        top: -30px;
        z-index: -1;
    }

}

.actionBox {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        background-color: rgb(205, 33, 34);
        width: 30px;
        height: 32px;
        display: block;
        bottom: -6px;
        left: 30%;
        transform: skewY(35deg);
        border-radius: 4px;
        border-top: 0px;
    }
}

.CardThree {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background-color: red;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -15px;
        width: 40%;
        height: 100%;
        background-color: yellow;
        transform: skewX(-12deg);
        border-radius: 5px;
    }
}

.TestCard {
    padding: 25px 20px 25px 20px;
    min-height: 100px;
    position: relative;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: #CD2122;

    &::before {
        content: "";
        position: absolute;
        margin-top: 0;
        top: 0;
        left: -30px;
        background-color: #CD2122;
        width: 20%;
        height: 100%;
        border-radius: 5px;
        transform: skewX(-12deg);
        z-index: 1;

    }

}

.PlanningCard {
    padding: 25px;
    position: relative;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: #f5f5f5;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -13px;
        background-color: #f5f5f5;
        width: 100px;
        height: 100%;
        border-radius: 5px;
        transform: skewX(-12deg);
        z-index: 0;
    }

}

.DesignCard {
    padding: 25px;
    min-height: 100px;
    position: relative;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: #f5f5f5;


    &::before {
        content: "";
        position: absolute;
        margin-top: 0;
        top: 0;
        left: -18px;
        background-color: #f5f5f5;
        width: 20%;
        height: 100%;
        border-radius: 5px;
        transform: skewX(-12deg);
        z-index: 1;
    }

    .DesignCardData {
        z-index: 1;
        position: relative;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -10px;
        width: 100px;
        height: 100%;
        background-color: #f5f5f5;
        transform: skewX(-12deg);
        z-index: 1;
        border-radius: 5px;
    }

}

@media (max-width: 768px) {

    .PlanningCard::before,
    .PlanningCard::after,
    .DesignCard::before,
    .DesignCard::after,
    .TestCard::before,
    .TestCard::after {
        display: none;
        content: none;
    }
}

.ReviewsBackground {
    background-image: url("../src//Images//bg-demos-prlx.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;

}

.Storieshover {
    position: relative;
    overflow: hidden;

    .StorieshoverData {
        position: absolute;
        top: 0;
        width: 360px;
        height: 194px;
        border: 5px solid #cd2122;
        background-color: rgba(0, 0, 0, 0.205);
        z-index: 99;

        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
    }

    .hoverbtn {
        transform: translateX(0px);
        transition: all 0.4s ease;
    }

    &:hover {
        .StorieshoverData {
            opacity: 1;
            visibility: visible;
        }

        .hoverbtn {
            transform: translateX(30px);
            opacity: 1;
            background-color: white;
            color: red;
        }
    }
}

.circleData {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        right: 5px;
        bottom: 5px;
        width: 14px;
        height: 14px;
        background: rgb(205, 33, 34);
        border-radius: 2px;
    }
}

.svgmask {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

// .backgroundImg {
//     background-image: url("../src//Images//Untitled-4d.jpg");
//     background-position: top;
//     background-size: cover;
//     background-repeat: no-repeat;
//     width: 100%;
//     min-height: 100vh;
//     position: relative;

//     .header {
//         position: relative;
//         width: 100%;
//         height: 170px;

//         .header-bg {
//             position: fixed;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 170px;
//             opacity: .8;
//             pointer-events: none;
//             background: linear-gradient(180deg, #000 0, transparent);
//             z-index: 30;

//             @media (max-width: 1024px) {

//                     display: none;

//             }
//         }
//     }
// }


.headers {
    position: relative;
    width: 100%;
    height: auto;

    .headersbg {
        top: 0;
        left: 0;
        width: 100%;
        height: 110px;
        opacity: .8;
        pointer-events: none;
        background: linear-gradient(180deg, rgb(0 0 0 / 96%) 0, transparent);
        z-index: 30;

        @media (max-width: 768px) {

            display: none;

        }
    }

    .background {
        background-image: url("../src//Images//Untitled-4d.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        z-index: -1;

        .arrow {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
            display: flex;
            justify-content: space-between;
            padding: 0 30px;
            z-index: 50;
        }

    }

    .Secondbackground {
        background-image: url("../src//Images//Untitled-3d.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        z-index: -1;

        .Decade {
            padding: 20px 25px;
            color: #fff;
            margin-bottom: 50px;
            max-width: max-content;
            margin-left: 30px;

            &::before {
                background-color: rgba(0, 0, 0, 0.24);
            }

        }

        .Deliver {
            padding: 12px 25px;
            color: #fff;

            &::before {
                background-color: rgba(0, 0, 0, 0.644);
            }

        }

        .portifolio {
            padding: 12px 25px;

            &::before {
                background: rgba(205, 33, 34, 0.7);
            }
        }

        .worldwide {
            padding: 8px 25px;
            margin-top: 10px;

            &::before {
                background-color: rgba(0, 0, 0, 0.24);
            }
        }

        .Decade,
        .Deliver,
        .portifolio,
        .worldwide {
            position: relative;
            border-radius: 8px;
            right: 0;
            bottom: 0;
            left: 0;
            top: 0;
            z-index: 11;
            color: #fff;

            &::before {
                transform: skew(-20deg);
                -webkit-transform: skew(20deg);
                content: '';
                position: absolute;
                border-radius: 8px;

                z-index: 0;
                display: block;
                right: 0;
                bottom: 0;
                left: 0;
                top: 0;
                z-index: -1;

            }
        }
    }

    .slick-arrow {

        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 50px;
        height: 50px;
        padding: 0;
        cursor: pointer;
        border: none;
        outline: none;

        z-index: 9;

        &::before {
            content: none !important;
        }

        &.slick-next {
            right: 50px !important;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px' viewBox='0 0 20 20'%3E%3Cpath fill='%23fff' d='M7 1L5.6 2.5L13 10l-7.4 7.5L7 19l9-9z'/%3E%3C/svg%3E") !important;
            opacity: 0.5;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transform: translateX(0);
            transition: transform 0.3s ease, opacity 0.3s ease;

            &:hover {
                opacity: 1;
                transform: translateX(8px);
            }

        }

        &.slick-prev {
            left: 40px !important;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23fff' stroke-width='2' d='M17 2L7 12l10 10'/%3E%3C/svg%3E") !important;
            opacity: 0.5;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transform: translateX(0);
            transition: transform 0.3s ease, opacity 0.3s ease;


            &:hover {
                opacity: 1;
                transform: translateX(-8px);
            }

        }

        @media screen and (max-width: 1280px) {
            display: none !important;
        }
    }

    .FreeQuoteHover {
        svg {
            path {
                fill: red;
            }
        }

        &:hover {
            svg {
                path {
                    fill: white;
                }
            }
        }
    }
}

.animate-float {
    animation: floatUpDown 1.9s ease-in-out infinite;
}

@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }
}

.HoverMapImg {
    position: relative;

    &:hover {

        box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.3);
    }
}

@media screen and (max-width:767px) {

    .SlickContainerPadding {
        .slick-slider {

            .slick-list {
                padding: 0 !important;
            }
        }
    }
}

.FreeQuoteHoverMenu {
    svg {
        path {
            fill: red;
        }
    }
}

.BoxDownArrow {
    svg {
        transform: translateY(-23px) translateX(19px) rotate(43deg);
    }
}

.slider-container {
    .background,.Secondbackground {
        .Slide {
            .WebData {
                opacity: 0;
                transform: translateY(0);
                transition: all 0.4s ease;
            }

            .EdgeTheme {
                opacity: 0;
                transform: translateX(200px);
            }

            .PlusBtn {
                opacity: 0;
                transform: translateX(-200px);
                // transition: all 0.5s ease-in;
            }
        }
    }
    .slick-active.slick-current {
        .background,.Secondbackground{
            .Slide {
                .WebData {
                    opacity: 1;
                    transform: translateY(0);
                }
                .EdgeTheme {
                    opacity: 0;
                    transform: translateX(200px);
                    animation: some 2s ease-in forwards;
                }
                .PlusBtn {
                    animation: plusBtn 1s ease-in forwards;
                }
            }
        } 
    }
}

@keyframes plusBtn {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes some {
    from {
        transform: translateX(200px);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

// Top btn
.myBtn{
width: 58px;
position: fixed;
bottom: 100px;
right: 0;
z-index: 40;
color: white;
font-size: 15px;
padding: 5px;
border-radius: 3px;
line-height: 150%;
background-color: #000000ab;
text-align: center;
cursor: pointer;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.none {
  display: none;
}


